<div class="container">
  <div class="row login-box">
    <div class="col align-self-center">
      <div class="card text-center shadow">
        <div class="card-header text-white bg-primary">
          <h5>GitHub Repository Issues</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Faca login para criar e listar issues para os seus repositorios do GitHub.</p>
          <a href="https://github.com/login/oauth/authorize?client_id=bf56bb6a2378cbda7096" class="btn btn-primary">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>