.card-button {
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 15px;
}

#card-box {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25px;
}

#card-box-issue {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}

#form-position {
    padding-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
}