<!--
<div class="container">
  <div class="row" id="card-box">
    <div class="col align-self-center">
      <div class="card text-center shadow">
        <div class="card-header text-white bg-primary">
          <h5>GitHub Repository Issues</h5>
        </div>
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<nav class="navbar navbar-dark bg-primary shadow">
  <span class="navbar-brand">
      GitHub Repository Issues
  </span>
  <i class="material-icons" style="color: white;" routerLink="/home">home</i>
</nav>

<router-outlet></router-outlet>


<!--<footer class="footer footer-dark bg-primary page-footer font-small"></footer>-->
    